<mat-tab-group class="tabs">
  <mat-tab label="Categories">
    <app-accordion
      [ELEMENT_DATA]="adminService.categories"
      [displayedColumns]="['id', 'name']"
      [endpoints]="['/AddCategory', '/EditCategory', '/DeleteCategory?id=']"
      (emitter)="onEmit($event)"
    />
  </mat-tab>
  <mat-tab label="Advertisements">
    <app-accordion
      [ELEMENT_DATA]="adminService.ads"
      [displayedColumns]="['id', 'title', 'companyLink', 'companyName']"
      [endpoints]="['/AddAdvertismet', '', '/DeleteAdvertisement?id=']"
      (emitter)="onEmit($event)"
    />
  </mat-tab>
  <mat-tab label="Questions">
    <app-accordion
      [ELEMENT_DATA]="adminService.questions"
      [displayedColumns]="['id', 'description', 'title', 'categoryName']"
      [endpoints]="['', '', '/deleteQuestion?id=']"
      (emitter)="onEmit($event)"
    />
  </mat-tab>
  <mat-tab label="Answers">
    <app-accordion
      [ELEMENT_DATA]="adminService.answers"
      [displayedColumns]="['id', 'description', 'questionId']"
      [endpoints]="['', '', '/deleteAnswer?id=']"
      (emitter)="onEmit($event)"
    />
  </mat-tab>
  <mat-tab label="Users">
    <app-accordion
      [displayedColumns]="['id', 'userName', 'email']"
      [endpoints]="['/Api/V1/User/CreateUser', '', '/DeleteUser?id=']"
      (emitter)="onEmit($event)"
      [ELEMENT_DATA]="adminService.users"
    />
  </mat-tab>
</mat-tab-group>
