<mat-tab-group class="tabs">
  <mat-tab label="Categories">
    <app-accordion
      [ELEMENT_DATA]="adminService.categories"
      [displayedColumns]="['id', 'name']"
    />
  </mat-tab>
  <mat-tab label="Advertisements">
    <app-accordion
      [ELEMENT_DATA]="adminService.ads"
      [displayedColumns]="['id', 'title', 'companyLink', 'companyName']"
    />
  </mat-tab>
  <mat-tab label="Questions">
    <app-accordion
      [ELEMENT_DATA]="adminService.questions"
      [displayedColumns]="['id', 'description', 'title', 'categoryName']"
    />
  </mat-tab>
  <mat-tab label="Answers">
    <app-accordion
      [ELEMENT_DATA]="answers"
      [displayedColumns]="['id', 'description', 'questionId']"
    />
  </mat-tab>
  <mat-tab label="Users">
    <app-accordion
      [displayedColumns]="['email', 'password', 'userName', 'name']"
      [ELEMENT_DATA]="users"
    />
  </mat-tab>
</mat-tab-group>
