<mat-tab-group class="tabs">
  <mat-tab label="Categories">
    <app-accordion
      [ELEMENT_DATA]="categories"
      [displayedColumns]="['id', 'name']"
    />
  </mat-tab>
  <mat-tab label="Advertisements">
    <app-accordion
      [ELEMENT_DATA]="ads"
      [displayedColumns]="[
        'id',
        'image',
        'title',
        'companyLink',
        'companyName'
      ]"
    />
  </mat-tab>
  <mat-tab label="Questions">
    <app-accordion
      [ELEMENT_DATA]="questions"
      [displayedColumns]="[
        'id',
        'description',
        'title',
        'image',
        'createdIn',
        'categoryName',
        'userName'
      ]"
    />
  </mat-tab>
  <mat-tab label="Answers">
    <app-accordion
      [ELEMENT_DATA]="answers"
      [displayedColumns]="[
        'id',
        'votes',
        'createdIn',
        'image',
        'description',
        'questionId',
        'userId'
      ]"
    />
  </mat-tab>
  <mat-tab label="Users"> <app-accordion /> </mat-tab>
</mat-tab-group>
