<form class="comment" [formGroup]="commentForm">
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Description</mat-label>
    <textarea
      (keydown.enter)="onSubmit()"
      matInput
      formControlName="content"
      placeholder="Comment on this answer..."
    ></textarea>
  </mat-form-field>
  @if(commentService.comments.length) {
  <h3>Comments</h3>
  <ul class="comments">
    @for(comment of commentService.comments; track $index) {
    <li>
      <app-reply [comment]="comment" />
      @if(!$last) {<mat-divider />}
    </li>
    }
  </ul>
  } @if(commentService.hasNextPage) {
  <button type="button" class="button" (click)="onViewMore()">
    <span> View More </span>
  </button>
  }
</form>
