<div class="comment">
  <textarea placeholder="Comment on this answer..."></textarea>
  @if(commentService.comments.length) {
  <h3>Comments</h3>
  <ul class="comments">
    @for(comment of commentService.comments; track $index) {
    <li>
      <div class="data">
        <app-avatar [data]="{ userName: comment.userId }" />
        <p>
          {{ comment.content }}
        </p>
      </div>
      @if(!$last) {<mat-divider />}
    </li>
    }
  </ul>
  } @if(commentService.hasNextPage) {
  <button class="button" (click)="onViewMore()">
    <span> View More </span>
  </button>
  }
</div>
