<form class="answer" [formGroup]="answerForm">
  <div class="input">
    <div class="info">
      <app-avatar [data]="{ userName: userName! }" />
      <div class="data">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Answer The Question</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Your answer..."
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    @if(previewImage) {<img
      class="preview"
      [src]="previewImage"
      alt="Preview Image"
    />}
  </div>
  <div class="actions">
    @for( action of postActions; track action ) { @if($index === 1) {
    <button type="button" class="poppins-medium" (click)="fileInput.click()">
      <input
        type="file"
        hidden
        #fileInput
        (change)="onUpload($event)"
        accept="image/*"
        multiple
      />
      <mat-icon>image</mat-icon>
      {{ action }}
    </button>
    } @else {
    <button
      (click)="$index === 2 ? onClear() : onSubmit()"
      type="button"
      class="poppins-medium"
    >
      <mat-icon>{{ $index === 2 ? "clear" : "question_answer" }}</mat-icon>
      {{ action }}
    </button>
    } }
  </div>
</form>
