.answer {
    background-color: var(--light-blue-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 0 1px;

    .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .preview {
            width: 100%;
            border: solid 1px var(--black-color);
            object-position: center;
        }

        .info {
            display: flex;
            gap: 16px;

            .data {
                width: 100%;
                display: flex;
                flex-direction: column;
    
                textarea {
                    min-width: none;
                    width: 100%;
                    resize: none;
                    font-size: 16px;
                    outline: none;
                    border: none;
                    padding: 16px;
                    min-height: 120px;
                }
            }
        }

    }

    .actions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        button {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: var(--secondary-color);
            color: var(--black-color);
            text-align: center;
            font-size: 16px;
            padding: 16px 8px;
            box-shadow: 0 0 2px var(--alice-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            transition-duration: 0.25s;
            white-space: nowrap;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}