<mat-accordion>
  <mat-expansion-panel hideToggle disabled class="panel">
    <mat-expansion-panel-header class="panel">
      @for(column of displayedColumns; track $index) {
      <mat-panel-description
        ><span> {{ column | titlecase }} </span></mat-panel-description
      >
      }
      <mat-panel-description
        ><span> {{ "Action" }} </span></mat-panel-description
      >
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  @for( element of ELEMENT_DATA; track $index ) {
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    class="panel"
  >
    <mat-expansion-panel-header>
      @for(column of displayedColumns; track $index) {
      <mat-panel-description>
        {{ element[displayedColumns[$index]] }}
      </mat-panel-description>
      }
      <mat-panel-description>
        <button mat-button (click)="deleteProduct('', $index)">
          <span> Remove </span>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
      <h1>
        <span>Update Product</span>
      </h1>
      @for(column of displayedColumns; track $index) {
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          [value]="element[displayedColumns[$index]]"
          required
        />
      </mat-form-field>
      }
      <mat-divider />
      <button
        type="button"
        mat-flat-button
        color="warn"
        mat-button
        class="submit-button"
      >
        <span> Submit </span>
      </button>
    </form>
  </mat-expansion-panel>
  }
</mat-accordion>

<!-- <form (submit)="addProduct()" [formGroup]="formGroup" class="add-form">
  <h1>
    <span>Add Product</span>
  </h1>
  <div>
    <mat-label>Images</mat-label>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*"
      multiple
      placeholder="h"
    />
  </div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" required formControlName="firstCtrl" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input
      matInput
      type="number"
      placeholder="Price"
      required
      formControlName="secondCtrl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input
      matInput
      number
      placeholder="Quantity"
      required
      formControlName="thirdCtrl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      number
      placeholder="Description"
      required
      formControlName="fifthCtrl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-select
      matInput
      placeholder="Categories"
      class="select"
      formControlName="sixthCtrl"
      multiple
    >
      @for (category of categories; track category._id) {
      <mat-option [value]="category">
        <span>{{ category.name }}</span>
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-divider />
  <button type="button" mat-button class="submit-button">Submit</button>
</form> -->
