<mat-accordion>
  <mat-expansion-panel hideToggle disabled class="panel">
    <mat-expansion-panel-header class="panel">
      @for(column of displayedColumns; track $index) {
      <mat-panel-description
        ><span> {{ column | titlecase }} </span></mat-panel-description
      >
      }
      <mat-panel-description
        ><span> {{ "Action" }} </span></mat-panel-description
      >
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  @for( element of ELEMENT_DATA; track $index ) {
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [disabled]="!endpoints[1].length"
    class="panel"
  >
    <mat-expansion-panel-header>
      @for(column of displayedColumns; track $index) {
      <mat-panel-description>
        {{ element[displayedColumns[$index]] }}
      </mat-panel-description>
      }
      <mat-panel-description>
        <button
          mat-button
          (click)="onDelete($event, element[displayedColumns[0]])"
        >
          <span> Remove </span>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
      <h1>
        <span>Update Product</span>
      </h1>
      @for(column of displayedColumns; track $index) {
      <mat-form-field color="accent">
        <mat-label>{{ displayedColumns[$index] | titlecase }}</mat-label>
        <input
          matInput
          placeholder="{{ displayedColumns[$index] | titlecase }}"
          [value]="element[displayedColumns[$index]]"
        />
      </mat-form-field>
      }
      <mat-divider />
      <button
        type="button"
        mat-flat-button
        color="warn"
        mat-button
        class="submit-button"
      >
        <span> Submit </span>
      </button>
    </form>
  </mat-expansion-panel>
  }
</mat-accordion>

<form class="add-form" *ngIf="endpoints[0].length" (ngSubmit)="onPost($event)">
  <h1>
    <span>Post Form</span>
  </h1>
  @for(column of displayedColumns; track $index) {
  <mat-form-field color="accent" *ngIf="!$first">
    <mat-label>{{ displayedColumns[$index] | titlecase }}</mat-label>
    <input
      matInput
      placeholder="{{ displayedColumns[$index] | titlecase }}"
      [id]="displayedColumns[$index]"
      #input
      [title]="displayedColumns[$index]"
    />
  </mat-form-field>
  } @if(endpoints[0].toLowerCase().includes('user')) {
  <mat-form-field color="accent">
    <mat-label>{{ "Name" | titlecase }}</mat-label>
    <input
      matInput
      #input
      id="name"
      placeholder="{{ 'Name' | titlecase }}"
      title="Name"
    />
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>{{ "password" | titlecase }}</mat-label>
    <input
      matInput
      #input
      id="password"
      placeholder="{{ 'password' | titlecase }}"
      title="Password"
    />
  </mat-form-field>
  }
  <mat-divider />
  <button type="submit" mat-button class="submit-button">Submit</button>
</form>
