<header>
  <nav>
    <img src="../../../assets/logos/dark-logo.svg" alt="Logo" />
    <div class="content">
      <ul>
        @for( link of links; track link ) {
        <li>
          <a [routerLink]="link.path">
            <img [src]="link.icon" alt="icon" />
          </a>
        </li>
        }
        <li>
          <a routerLink="notifications">
            <div matBadge="0" matBadgeColor="warn">
              <img src="../../../assets/icons/notification.svg" />
            </div>
          </a>
        </li>
      </ul>
      <div class="avatar" (click)="onAvatarClick()">
        <app-avatar />
      </div>
    </div>
  </nav>
</header>
