<header>
  <nav>
    <img src="../../../assets/logos/dark-logo.svg" alt="Logo" />
    <div class="content">
      <ul>
        @for( link of links; track link ) {
        <li>
          <a [routerLink]="link.path">
            <img [src]="link.icon" alt="icon" />
          </a>
        </li>
        }
        <li>
          <a routerLink="notifications">
            <div matBadge="0" matBadgeColor="warn">
              <img src="../../../assets/icons/notification.svg" alt="avatar" />
            </div>
          </a>
        </li>
      </ul>
      <div class="avatar" [matMenuTriggerFor]="menu">
        <app-avatar [data]="{ userName: userName! }" />
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAvatarClick('profile')">
          Profile
        </button>
        <button mat-menu-item (click)="onAvatarClick('bookmarks')">
          Bookmarks
        </button>
        <mat-divider />
        <button mat-menu-item (click)="onAvatarClick('auth')">Logout</button>
      </mat-menu>
    </div>
  </nav>
</header>
