header {
    width: 100%;
    background-color: var(--white-color);
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;
    position: sticky;
    top: 0;

    nav {
        width: 100%;
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .content {
            display: flex;
            align-items: center;
            gap: 16px;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 16px;
    
                li {
                    cursor: pointer;
                }
            }
        }
    }
}