.admin {
    width: 100%;
    min-height: calc(100vh - 132px);
    background-image: var(--gradient-color);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 24px 40px;

    .container {
        width: 100%;
        max-width: 1400px;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        padding: 0 16px 16px 16px;
        gap: 4px;
    }
}