.search {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(30deg, var(--primary-color), var(--light-blue-color) , var(--primary-color));
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 24px 40px;

    .container {
        width: 100%;
        max-width: 1400px;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}