@if(data) {
<div class="question">
  <div class="user">
    <app-avatar />
    <div class="data">
      <h3>{{ data.userName || "Zeyad Mohamed" }}</h3>
      <span>{{ data.createdIn }}</span>
    </div>
  </div>
  <h1>
    {{ data.title }}
  </h1>
  <p class="description">
    {{ data.description }}
  </p>
  <img
    class="question-image"
    [src]="data.image || '../../../../assets/images/question.svg'"
    alt="Question"
  />
  <div class="actions">
    @for( action of actions; track action ) {
    <div class="action" (click)="$first && onDetailsClick()">
      <img src="../../../../assets/icons/bookmark.svg" alt="Action" />
      <span>
        {{ action }}
      </span>
    </div>
    }
  </div>
</div>
}
