<!-- @if(data) { -->
<div class="question">
  <div class="user">
    <app-avatar />
    <div class="data">
      <h3>{{ data?.userName || "Username" }}</h3>
      <span>{{ data?.createdIn || "2022/11/11" | date }}</span>
    </div>
  </div>
  <h1>
    {{ data?.title || "Title" }}
  </h1>
  <p
    class="description"
    [ngStyle]="{ 'min-height': data?.image === 'NOFile' && '120px' }"
  >
    {{ data?.description || "Description" }}
  </p>
  @if (data?.image !== "NOFile") {
  <img
    class="question-image"
    [src]="data?.image || '../../../../assets/images/question.svg'"
    alt="Question"
  />
  }
  <div class="actions">
    @for( action of actions; track action ) {
    <div class="action" (click)="$first && onDetailsClick()">
      <img src="../../../../assets/icons/bookmark.svg" alt="Action" />
      <span>
        {{ action }}
      </span>
    </div>
    }
  </div>
</div>
<!-- } -->
