<!-- @if(data) { -->
<div class="question">
  @if(data) {<app-avatar [data]="avatar" />}
  <h1>
    {{ data?.title || "Title" }}
  </h1>
  <p
    class="description"
    [ngStyle]="{ 'min-height': data?.image === 'NOFile' && '120px' }"
  >
    {{ data?.description || "Description" }}
  </p>
  @if (data?.image !== "NoFile") {
  <img
    class="question-image"
    (click)="onExpand(data?.image!)"
    [src]="data?.image || '../../../../assets/images/question.svg'"
    alt="Question"
  />
  } @else {
  <div class="space"></div>
  }
  <div class="actions">
    @for( action of actions; track action ) { @if($last) {
    <button [matMenuTriggerFor]="menu" class="action poppins-medium">
      <mat-icon>{{ icons[$index] }}</mat-icon>
      {{ action }}
    </button>
    } @else {
    <button
      class="action poppins-medium"
      (click)="$first ? onDetailsClick() : onBookmarkClick()"
    >
      <mat-icon>{{ icons[$index] }}</mat-icon>
      {{ action }}
    </button>
    } }
  </div>
  <mat-menu #menu="matMenu" class="menu">
    <button mat-menu-item (click)="copyLink()">
      <span>http://localhost:4200/question/{{ data?.id }}</span>
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-menu>
</div>
