<div class="ask">
  <div class="input">
    <div class="info">
      <app-avatar />
      <div class="data">
        <textarea placeholder="What's your question?"></textarea>
      </div>
    </div>
    @if(previewImage) {<img
      class="preview"
      [src]="previewImage"
      alt="Preview Image"
    />}
    <div class="actions">
      @for( action of actions; track action ) { @if($index === 2) {
      <button type="button" class="poppins-medium" (click)="fileInput.click()">
        <input
          type="file"
          hidden
          #fileInput
          (change)="onUpload($event)"
          accept="image/*"
          multiple
        />
        <img src="../../../../assets/icons/bookmark.svg" alt="action" />
        {{ action }}
      </button>
      } @else {
      <button
        type="button"
        class="poppins-medium"
        (click)="$index === 1 && onSearchClick()"
      >
        <img src="../../../../assets/icons/bookmark.svg" alt="action" />
        {{ action }}
      </button>
      } }
    </div>
  </div>
</div>
