.ask {
    background-color: var(--white-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input {
        width: 100%;
        display: flex;
        flex-direction: column;

        .preview {
            width: 100%;
            border: solid 1px var(--black-color);
            object-position: center;
            margin-bottom: 16px;
        }

        .info {
            display: flex;
            gap: 16px;

            .data {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }

        textarea {
            resize: none;
            min-height: 160px;
            min-width: none;
            width: 100%;
            border: none;
            font-size: 16px;
            outline: none;
        }
    }

    .actions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        button {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--black-color);
            text-align: center;
            font-size: 16px;
            padding: 16px 8px;
            box-shadow: 0 0 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            transition-duration: 0.25s;
            white-space: nowrap;

            &:hover {
                background-color: var(--secondary-color);
                color: var(--white-color);
            }
        }
    }
}

@media (max-width: 800px) {
    .ask .actions {
        grid-template-columns: repeat(2, 1fr);
    }
}