.avatar {
    background-color: var(--opacity-color);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
    cursor: pointer;
}