:root {
    --primary-color: #32BFBF;
    --secondary-color: #1C836D;
    --light-blue-color: rgba(11, 170, 202, 0.4);
    --white-color: #FFFFFF;
    --dark-blue-color: #102E44;
    --black-color: #121212;
    --light-grey-color: #807E7E;
    --dark-grey-color: #605F5F;
    --opacity-color: #D4D4D4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.poppins-regular {
    font-weight: 400;
}

.poppins-medium {
    font-weight: 500;
}

.poppins-semibold {
    font-weight: 600;
}

.poppins-bold {
    font-weight: 700;
}