:root {
    --primary-color: #32BFBF;
    --secondary-color: #1C836D;
    --light-blue-color: #12516B;
    --white-color: rgb(43, 59, 78);
    --alice-blue: aliceblue;
    --dark-blue-color: #102E44;
    --black-color: aliceblue;
    --gradient-color: linear-gradient(30deg, rgb(22, 22, 44), rgb(22, 22, 44) , rgb(22, 22, 44));
    --light-grey-color: #807E7E;
    --dark-grey-color: #605F5F;
    --success-color: #34D15E;
    --fail-color: #c75647;
    --opacity-color: #D4D4D4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.poppins-regular {
    font-weight: 400;
}

.poppins-medium {
    font-weight: 500;
}

.poppins-semibold {
    font-weight: 600;
}

.poppins-bold {
    font-weight: 700;
}

.error-snackbar {
    background-color: var(--fail-color);
    color: var(--white-color);
}

.mat-mdc-snack-bar-container {
    &.error-snackbar {
      --mdc-snackbar-container-color: var(--fail-color);
      --mat-mdc-snack-bar-button-color: var(--white-color);
      --mdc-snackbar-supporting-text-color: var(--white-color);
      --mat-snack-bar-button-color: var(--white-color);
    }
  }