@if(answer) {
<div class="answer">
  <div class="user">
    <app-avatar
      [data]="{
        userName: userName || '',
        createdIn: answer.createdIn.toString()
      }"
    />
    <div
      class="votes"
      [ngStyle]="{
        'background-color':
          voteService.votes > 0
            ? 'var(--success-color)'
            : voteService.votes < 0
            ? 'var(--fail-color)'
            : 'var(--light-blue-color)'
      }"
    >
      {{ voteService.votes > 0 ? "+" : voteService.votes < 0 ? "-" : null }}
      {{ voteService.votes < 1 ? voteService.votes * -1 : voteService.votes }}
    </div>
  </div>
  <p class="description">
    {{ answer.description }}
  </p>
  <img class="answer-image" [src]="answer.image" alt="Answer" />
  <div class="actions">
    @for( action of actions; track action ) {
    <button
      class="action"
      [disabled]="voteService.hasVoted"
      [ngStyle]="{
        'background-color':
          $first && voteService.hasUpvoted
            ? 'var(--success-color)'
            : $last && voteService.hasDownvoted
            ? 'var(--fail-color)'
            : 'var(--secondary-color)'
      }"
      (click)="
        $first ? voteService.upVote(answer.id) : voteService.downVote(answer.id)
      "
    >
      <mat-icon>{{ icons[$index] }}</mat-icon>
      <span>
        {{ action }}
      </span>
    </button>
    }
  </div>
  <app-comment [answerId]="answer.id" />
</div>
}
